body{
  background-color: rgba(25, 37, 218, 0.14);
}
.cajita{
  margin: 0 auto;
  margin-top: 60px;
  width: 38%;
  height: 320px;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.14);
  border-radius: 40px;
  overflow: auto;
  box-shadow: 10px 10px 20px 0 #000000;
  backdrop-filter: blur(10px);
}
button, input, pre{
  font-family : Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size   : 100%;
}

button{
  margin-bottom: 25px;
}

button:hover{
  background-color: rgb(0, 255, 213) !important;
}

h1, h2, p, pre{
  filter: drop-shadow(0px 0px 2px #fff);
}

h1{
  margin-top: 20px;
}

input {
  width: 40%;
  border: none;
  border-bottom: 1px solid rgb(255, 255, 255);
  font-size: 16px;
  background-color: transparent;
  padding: 5px;
  color:rgba(25, 37, 218, 0.14)
  font-weight: bold;
  text-align: center;
}

input::placeholder{
  color: #ccc;
}

input:focus{
  outline: none;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0;
}

pre{
    font-size: 120%;
}

/* Pie de página */
footer{
  background: url("../img/pie.png");
  background-size: cover;
  filter: drop-shadow(0px 9px 20px #fff);
  padding-top: 14%;
}

.pie{
  color:#fff;
  padding-left: 2%;
  margin-bottom: 0%;
}

.pie>h2{
  margin-top: 55px;
}

.img-yo{
  width: 90%;
  margin-top: 20px;
  margin-bottom: 80px;
  border-radius: 20% 0 20% 0;
}

.copy{
  color: rgba(255, 255, 255, 0.5);
  margin: 0;
  text-align: right;
}